<!DOCTYPE html>
<html>
  <head>
    <title><%= resultString %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= resultString %></h1>
    <p>Welcome to <%= resultString %></p>
  </body>
</html>
