<!DOCTYPE html>
<html>
  <head>
    <title>Device View</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%- JSON.stringify(descString) %></p>
    <table border="1">
    <script type="text/javascript">
      var resultObj=<%- JSON.stringify(resultString) %>;
      var keyBuckets=resultObj.aggregations.ApiClicks.buckets;
	  for(var i=0;i<keyBuckets.length;i++){
		 document.write("<tr><td>"+keyBuckets[i].key+"</td>");
		 document.write("<td>"+keyBuckets[i].doc_count+"</td></tr>");
	  }      
   </script>
   </table>
  </body>
</html>
